/*********************** TAG SELECTORS *********************************/


body {
  padding: 22% 6%;

}

p {
  line-height: 1.7;
  margin: 2em auto 3em;
}


/*********************** CLASS SELECTORS *********************************/

.card {
  padding: 18% 14% 20% 17%;
}

.container {
  display: initial;
}

.luxury {
  border-radius: 0 0 8px 8px;
}

.sedans {
  border-radius: 8px 8px 0 0;
}
